* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #1b1b32;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}

.freecodecamp-logo-contenedor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.freecodecamp-logo {
  height: 50px;  
}

.contenedor-principal {
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* CSS DE CONTADOR JS */

#appjs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

#appjs__freecodecamp-logo {
  height: 50px;  
}

#appjs__title {
  margin-top: 50px;
  margin-bottom: 20px;
}

#contenedor-principaljs {
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contadorjs {
  min-width: 300px;
  height: 300px;
  font-size: 160px;
  padding: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid white;
  margin-bottom: 15px;
}

#boton-clicjs {
  background-color: #002ead;
  width: 250px;
  height: 80px;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}
#boton-clic:hover {
  background-color: #00471b;
}

#boton-reiniciarjs {
  background-color: #5a01a7;
  width: 250px;
  height: 80px;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}
#boton-reiniciarjs:hover {
  background-color: #00471b;
}